* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Groothan";
  src: url("./assets/fonts/GroothanMixedDEMORegular.woff2") format("woff2"), url("./assets/fonts/GroothanMixedDEMORegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi-Bold.woff2") format("woff2"), url("./assets/fonts/Nohemi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  background: #ffffff;
  overflow-x: hidden;
}

p {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: -1.5px;
  color: #202020;
  font-weight: 100;
}

.coloured {
  color: #006afe;
}

.navigation .navWrapper {
  display: none;
  backdrop-filter: blur(30px);
  background-color: rgba(238, 238, 238, 0.6);
  width: 100vw;
  height: 100dvh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  overflow: hidden;
}
.navigation #Layer_3 {
  cursor: pointer;
  width: 50px;
  transition: 0.2s ease-in-out;
}
@media (max-width: 800px) {
  .navigation #Layer_3 {
    width: 30px;
  }
}
.navigation #Layer_3 .cls-2 {
  fill: #006afe;
}
@media (min-width: 600px) {
  .navigation #Layer_3:hover {
    rotate: -90deg;
  }
}
.navigation .navigationLinks {
  padding: 50px;
  width: 100vw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: transparent;
  z-index: 1000000;
}
.navigation .navigationLinks .links {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: left;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .navigation .navigationLinks .links {
    flex-direction: column;
    align-items: center;
  }
}
.navigation .navigationLinks .links .link {
  font-family: "Nohemi", sans-serif;
  font-size: 30px;
  color: rgba(48, 48, 48, 0.9);
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
.navigation .navigationLinks .links .link span {
  display: inline-block;
  pointer-events: none;
  transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform;
}
.navigation .navigationLinks .links .link .second {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateY(100%);
  color: #006afe;
}
.navigation .navigationLinks .closeNav {
  position: absolute;
  top: 50px;
  right: 50px;
}
@media (max-width: 1000px) {
  .navigation .navigationLinks .closeNav {
    top: 20px;
    left: 20px;
  }
}

.portfolio {
  width: 100dvw;
  height: 100dvh;
  padding: 50px;
  position: relative;
  overflow-x: hidden !important;
}
@media (max-width: 1000px) {
  .portfolio {
    padding: 20px;
  }
}
.portfolio .navigationButton {
  z-index: 10000000;
  position: fixed;
  top: 50px;
  right: 50px;
}
@media (max-width: 1000px) {
  .portfolio .navigationButton {
    top: 20px;
    right: 20px;
  }
}
.portfolio .navigationButton .close {
  opacity: 0;
}
.portfolio .homePage {
  overflow: hidden;
}
.portfolio .homePage .homePageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.portfolio .homePage .homePageContainer .homePageCopy {
  width: 100%;
}
@media (max-width: 1000px) {
  .portfolio .homePage .homePageContainer .homePageCopy .copy {
    font-size: 16px;
  }
}
.portfolio .homePage .logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}
.portfolio .homePage .logoContainer .logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: default;
}
.portfolio .homePage .logoContainer .logoWrapper .shadow {
  width: 100%;
  color: rgba(150, 150, 150, 0.4);
  position: absolute;
  font-family: "Groothan";
  font-size: 23vw;
  letter-spacing: -0.1em;
  filter: blur(15px);
  z-index: -199999;
  user-select: none;
}
.portfolio .homePage .logoContainer .logoWrapper .logoText {
  text-align: center;
}
.portfolio .homePage .logoContainer .logoWrapper .logoText img {
  width: 100%;
  height: 100%;
}
.portfolio .homePage .logoContainer .logoWrapper .logoText .ben,
.portfolio .homePage .logoContainer .logoWrapper .logoText .scott {
  font-family: "Groothan";
  font-size: 23vw;
  color: #006afe;
  line-height: 100px;
  font-weight: 900;
  letter-spacing: -0.1em;
  user-select: none;
  cursor: default;
}
@media (max-width: 800px) {
  .portfolio .homePage .logoContainer .logoWrapper .logoText .ben,
  .portfolio .homePage .logoContainer .logoWrapper .logoText .scott {
    font-size: 20vw;
  }
}
.portfolio .homePage .logoContainer .logoWrapper .logoText .ben {
  color: rgb(152, 152, 152);
}

.workPage,
.workItems,
.workPageContainer,
.workItemsContainer {
  width: 100%;
  height: 100%;
}
.workPage .workItemsContainer,
.workItems .workItemsContainer,
.workPageContainer .workItemsContainer,
.workItemsContainer .workItemsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.workPage .workItemsContainer ul li,
.workItems .workItemsContainer ul li,
.workPageContainer .workItemsContainer ul li,
.workItemsContainer .workItemsContainer ul li {
  list-style-type: none;
  font-family: "GROOTHAn";
  text-transform: lowercase;
  font-size: 60px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: -20px;
  transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
@media (max-width: 800px) {
  .workPage .workItemsContainer ul li,
  .workItems .workItemsContainer ul li,
  .workPageContainer .workItemsContainer ul li,
  .workItemsContainer .workItemsContainer ul li {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.05em;
  }
}
.workPage .workItemsContainer ul li .newTab,
.workItems .workItemsContainer ul li .newTab,
.workPageContainer .workItemsContainer ul li .newTab,
.workItemsContainer .workItemsContainer ul li .newTab {
  height: 30px;
  width: 30px;
}
.workPage .workItemsContainer ul li .newTab img,
.workItems .workItemsContainer ul li .newTab img,
.workPageContainer .workItemsContainer ul li .newTab img,
.workItemsContainer .workItemsContainer ul li .newTab img {
  width: 100%;
  height: 100%;
}
.workPage .workItemsContainer ul li .itemImg,
.workItems .workItemsContainer ul li .itemImg,
.workPageContainer .workItemsContainer ul li .itemImg,
.workItemsContainer .workItemsContainer ul li .itemImg {
  border: 1px solid black;
  position: absolute;
  min-height: 400px;
  min-width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  object-fit: cover;
  z-index: -10;
}
@media (max-width: 800px) {
  .workPage .workItemsContainer ul li .itemImg,
  .workItems .workItemsContainer ul li .itemImg,
  .workPageContainer .workItemsContainer ul li .itemImg,
  .workItemsContainer .workItemsContainer ul li .itemImg {
    max-height: 150px;
    min-width: auto;
    min-height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}
.workPage .workItemsContainer ul li a,
.workItems .workItemsContainer ul li a,
.workPageContainer .workItemsContainer ul li a,
.workItemsContainer .workItemsContainer ul li a {
  display: inline-block;
  position: relative;
  color: #202020;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
.workPage .workItemsContainer ul li a span,
.workItems .workItemsContainer ul li a span,
.workPageContainer .workItemsContainer ul li a span,
.workItemsContainer .workItemsContainer ul li a span {
  padding: 0px 10px;
  display: inline-block;
  pointer-events: none;
  transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform;
}
.workPage .workItemsContainer ul li a .second,
.workItems .workItemsContainer ul li a .second,
.workPageContainer .workItemsContainer ul li a .second,
.workItemsContainer .workItemsContainer ul li a .second {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateY(100%);
  color: #006afe;
}

.about,
.aboutContainer {
  width: 100%;
  height: 100%;
  margin-top: 25px;
}
.about .aboutItem,
.aboutContainer .aboutItem {
  padding: 50px;
  display: flex;
  gap: 20px;
  width: 100%;
}
@media (max-width: 1000px) {
  .about .aboutItem,
  .aboutContainer .aboutItem {
    flex-direction: column;
  }
}
.about .aboutItem p,
.aboutContainer .aboutItem p {
  width: 50%;
  font-size: 24px;
}
@media (max-width: 1000px) {
  .about .aboutItem p,
  .aboutContainer .aboutItem p {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .about .aboutItem p,
  .aboutContainer .aboutItem p {
    font-size: 18px;
    letter-spacing: -1px;
  }
}
.about .aboutItem img,
.aboutContainer .aboutItem img {
  width: 50%;
  max-height: 80dvh;
  object-fit: cover;
  object-position: top;
}
@media (max-width: 1000px) {
  .about .aboutItem img,
  .aboutContainer .aboutItem img {
    width: 100%;
  }
}
.about .funFacts,
.aboutContainer .funFacts {
  height: 50%;
}
.about .funFacts .funFactsWrapper,
.aboutContainer .funFacts .funFactsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 90%;
  gap: 25px;
  margin: 0 auto;
}
.about .funFacts .funFactsWrapper .factAnswer,
.about .funFacts .funFactsWrapper .factQuestion,
.aboutContainer .funFacts .funFactsWrapper .factAnswer,
.aboutContainer .funFacts .funFactsWrapper .factQuestion {
  font-family: "Nohemi", sans-serif;
  display: inline-block;
  text-align: center;
}
.about .funFacts .funFactsWrapper .factQuestion,
.aboutContainer .funFacts .funFactsWrapper .factQuestion {
  font-size: 50px;
  color: #ff5b00;
}
@media (max-width: 1000px) {
  .about .funFacts .funFactsWrapper .factQuestion,
  .aboutContainer .funFacts .funFactsWrapper .factQuestion {
    font-size: 24px;
  }
}
.about .funFacts .funFactsWrapper .factAnswer,
.aboutContainer .funFacts .funFactsWrapper .factAnswer {
  font-size: 80px;
  width: 90%;
}
@media (max-width: 1000px) {
  .about .funFacts .funFactsWrapper .factAnswer,
  .aboutContainer .funFacts .funFactsWrapper .factAnswer {
    font-size: 30px;
  }
}
.about .funFacts .funFactsWrapper .button,
.aboutContainer .funFacts .funFactsWrapper .button {
  background-color: #ff5b00;
  color: #fff8b1;
  font-family: "Groothan";
  font-size: 44px;
  padding: 15px 30px;
  border-radius: 20px;
  text-align: center;
  letter-spacing: -2px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 3px solid #ff5b00;
}
@media (min-width: 600px) {
  .about .funFacts .funFactsWrapper .button:hover,
  .aboutContainer .funFacts .funFactsWrapper .button:hover {
    background-color: transparent;
    border: 3px solid #ff5b00;
    color: #ff5b00;
  }
}
.about .funFacts .funFactsWrapper .button:active,
.aboutContainer .funFacts .funFactsWrapper .button:active {
  scale: 0.9;
}
@media (max-width: 1000px) {
  .about .funFacts .funFactsWrapper .button,
  .aboutContainer .funFacts .funFactsWrapper .button {
    font-size: 24px;
  }
}

.banner {
  width: 99vw;
  left: 0px;
  position: absolute;
  padding: 20px;
  background-color: #202020;
  color: white;
  overflow: hidden;
}
.banner h1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  font-size: 60px;
  text-align: center;
  font-family: "Nohemi", sans-serif;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat .chatContainer {
  width: 50%;
}
@media (max-width: 1000px) {
  .chat .chatContainer {
    width: 90%;
  }
}
.chat .chatContainer a {
  color: #006afe;
}
