* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

// UNIVERSAL

@font-face {
  font-family: "Groothan";
  src: url("./assets/fonts/GroothanMixedDEMORegular.woff2") format("woff2"), url("./assets/fonts/GroothanMixedDEMORegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi-Bold.woff2") format("woff2"), url("./assets/fonts/Nohemi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$background: #ffffff;
$mainFontColor: #202020;
$feature: #006afe;

$mainFont: "Nohemi", sans-serif;
$secondaryFont: "Helvetica", sans-serif;
$bodyFont: "Helvetica", sans-serif;

body {
  background: $background;
  overflow-x: hidden;
}

p {
  font-family: $secondaryFont;
  font-size: 20px;
  letter-spacing: -1.5px;
  color: $mainFontColor;
  font-weight: 100;
}

.coloured {
  color: $feature;
}

.threeCanvas {
  position: absolute;
  z-index: -9999;
  width: 100dvw;
  height: 100dvh;
}

// MAIN

.navigation {
  .navWrapper {
    display: none;
    backdrop-filter: blur(30px);
    background-color: rgba(238, 238, 238, 0.6);
    width: 100vw;
    height: 100dvh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    overflow: hidden;
  }

  #Layer_3 {
    cursor: pointer;
    width: 50px;
    transition: 0.2s ease-in-out;

    @media (max-width: 800px) {
      width: 30px;
    }
    .cls-2 {
      fill: $feature;
    }

    @media (min-width: 600px) {
      &:hover {
        rotate: -90deg;
      }
    }
  }

  .navigationLinks {
    padding: 50px;
    width: 100vw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: transparent;
    z-index: 1000000;

    .links {
      // height: 100%;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: left;
      justify-content: space-evenly;

      @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
      }

      // position: relative;

      .link {
        font-family: $mainFont;
        font-size: 30px;
        color: rgba(48, 48, 48, 0.9);
        display: inline-block;
        line-height: 1;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);

        span {
          display: inline-block;
          pointer-events: none;
          transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
          will-change: transform;
        }

        .second {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          transform: translateY(100%);
          color: $feature;
        }
      }
    }

    .closeNav {
      position: absolute;
      top: 50px;
      right: 50px;

      @media (max-width: 1000px) {
        top: 20px;
        left: 20px;
      }
    }
  }
}

.portfolio {
  width: 100dvw;
  height: 100dvh;
  padding: 50px;
  position: relative;
  overflow-x: hidden !important;

  @media (max-width: 1000px) {
    padding: 20px;
  }

  .navigationButton {
    z-index: 10000000;
    position: absolute;
    top: 50px;
    right: 50px;

    @media (max-width: 1000px) {
      top: 20px;
      right: 20px;
    }

    .close {
      opacity: 0;
    }
  }

  .homePage {
    overflow: hidden;
    .homePageContainer {
      width: 100%;
      display: flex;
      flex-direction: row;

      .homePageCopy {
        width: 100%;

        .copy {
          @media (max-width: 1000px) {
            font-size: 16px;
          }
        }
      }
    }

    .logoContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: default;

      .logoWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        // gap: 30px;
        cursor: default;

        .shadow {
          width: 100%;
          color: rgba(150, 150, 150, 0.4);
          position: absolute;
          font-family: $mainFont;
          font-size: 14vw;
          letter-spacing: -0.15em;
          filter: blur(15px);
          z-index: -199999;
          user-select: none;
        }

        .logoText {
          text-align: center;

          img {
            width: 100%;
            height: 100%;
          }

          .ben,
          .scott {
            font-family: $mainFont;

            font-size: 14vw;
            color: $feature;
            line-height: 100px;
            font-weight: 900;
            letter-spacing: -0.08em;
            user-select: none;
            cursor: default;

            @media (max-width: 800px) {
              font-size: 20vw;
            }
          }
          .ben {
            color: #bababa;
          }
        }
      }
    }
  }
}

.workPage,
.workItems,
.workPageContainer,
.workItemsContainer {
  width: 100%;
  height: 100%;

  .workItemsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ul {
      li {
        list-style-type: none;
        font-family: "GROOTHAn";
        text-transform: lowercase;
        font-size: 60px;
        line-height: 1;
        font-weight: 900;
        letter-spacing: -0.05em;
        margin-bottom: -20px;
        transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);

        @media (max-width: 800px) {
          font-size: 50px;
          line-height: 50px;
          letter-spacing: -0.05em;
        }

        .newTab {
          height: 30px;
          width: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .itemImg {
          border: 1px solid black;
          position: absolute;
          min-height: 400px;
          min-width: 600px;
          height: 400px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          object-fit: cover;
          z-index: -10;

          @media (max-width: 800px) {
            max-height: 150px;
            min-width: auto;
            min-height: auto;
            aspect-ratio: 16 / 9;
            object-fit: cover;
          }
        }

        a {
          display: inline-block;
          // overflow: hidden;
          position: relative;
          color: $mainFontColor;
          text-decoration: none;
          cursor: pointer;
          overflow: hidden;

          span {
            padding: 0px 10px;
            display: inline-block;
            pointer-events: none;
            transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
            will-change: transform;
          }

          .second {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            transform: translateY(100%);
            color: $feature;
          }
        }
      }
    }
  }
}

.about,
.aboutContainer {
  width: 100%;
  height: 100%;
  margin-top: 25px;

  .aboutItem {
    padding: 50px;
    display: flex;
    gap: 20px;
    width: 100%;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    p {
      width: 50%;
      font-size: 24px;

      @media (max-width: 1000px) {
        width: 100%;
      }

      @media (max-width: 1200px) {
        font-size: 18px;
        letter-spacing: -1px;
      }
    }

    img {
      width: 50%;
      max-height: 80dvh;
      object-fit: cover;
      // border: 1px solid black;
      object-position: top;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
  .funFacts {
    margin: 50px 0px;
    height: 75%;

    .funFactsWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 90%;
      gap: 25px;
      margin: 0 auto;

      .factAnswer,
      .factQuestion {
        font-family: $mainFont;
        display: inline-block;
        text-align: center;
      }

      .factQuestion {
        font-size: 50px;
        color: #ff5b00;

        @media (max-width: 1000px) {
          font-size: 24px;
        }
      }
      .factAnswer {
        font-size: 80px;
        width: 90%;

        @media (max-width: 1000px) {
          font-size: 30px;
        }
      }

      .button {
        background-color: #ff5b00;
        color: #fff8b1;
        font-family: "Groothan";
        font-size: 44px;
        padding: 15px 30px;
        border-radius: 20px;
        text-align: center;
        letter-spacing: -2px;
        cursor: pointer;
        // margin-top: 50px;
        transition: 0.2s ease;
        border: 3px solid #ff5b00;

        @media (min-width: 600px) {
          &:hover {
            background-color: transparent;
            border: 3px solid #ff5b00;
            color: #ff5b00;
          }
        }

        &:active {
          scale: 0.9;
        }

        @media (max-width: 1000px) {
          font-size: 24px;
        }
      }
    }
  }
}

.banner {
  width: 99vw;
  left: 0px;
  position: absolute;
  padding: 20px;
  background-color: $mainFontColor;
  color: white;
  overflow: hidden;

  h1 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 60px;
    text-align: center;
    font-family: $mainFont;
  }
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .chatContainer {
    width: 50%;

    @media (max-width: 1000px) {
      width: 90%;
    }

    a {
      color: $feature;
    }
  }
}
